<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/mystyle.css" />
        <title>Game</title>
    </head>
    <body>
        <div class="header">
            <ul>
                <li id='home'><a href="home.html">Home</a></li>
                <li><a href="instructions.html">Instructions</a></li>
            </ul>
        </div>

        <p> You are in room: {name} </p>

        <div class="word-display">
            <h1>The secret word is:</h1>
            <h2 class="secret-word">S _ _ _ _ _ _</h2>
        </div>

        <div class="team-1-chat">
            <h3>Chat</h3>
            <p>This is a comment.<p>
        </div>
    </body>
</html>
