<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/mystyle.css" />
        <title>Contact Online</title>
    </head>
    <body>
        <div class="header">
            <ul>
                <li id='home'><a href="home.html">Home</a></li>
                <li><a href="instructions.html">Instructions</a></li>
            </ul>
        </div>

        <div class='room-wrapper'>
            <h1>Welcome to Contact Online</h1>
            <p>Please pick a secret word and a unique room name.</p>
            <form id='room-input'>
                <input class='text-box' type="text" placeholder="secret word" />
                <br />
                <input class='text-box' type="text" placeholder="unique room name" />
                <br />
                <input id='text-submit' type="submit" value="GO" />
            </form>
        </div>
    </body>
</html>
