<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/mystyle.css" />
        <title>Instructions</title>
    </head>
    <body>
        <div class="header">
            <ul>
                <li id='home'><a href="home.html">Home</a></li>
                <li><a href="instructions.html">Instructions</a></li>
            </ul>
        </div>

        <h1>Instructions</h1>

        <h2>Short Version</h2>
        <p>
            Contact is a group game where multiple people try to guess a
            word.
        </p>

        <h2>Long Version</h2>
        <p>
            Contact requires at least three people, one person to create a word
            and at least two people to guess it.
        </p>

        <p>
            The word creator thinks of a word and gives the guessers the first
            letter.  The guessers' objective at this stage is to get the word
            creator to give them the second letter of the word.  They do this by
            coming up with words that they can guess, but the creator can't.
        </p>
        <p>
            This is best illustrated with an example.
        </p>

        <p>
            Say the creator's word is "apple."  The creator says his word
            starts with the letter "a."  The guessers try to think of words
            that also start with the letter "a."  One of the guessers thinks
            of the word "apathy" and gives the group a clue, say
            "This is a symptom of depression."
        </p>

        <p>
            If the word creator can come up with a word that fits the clue,
            say "apathy" or "anhedonia," they say "It's not apathy" or
            "It's not anhedonia," and the guessers have to think of another clue.
        </p>

        <p>
            If the word creator cannot think of a word, but one of the other
             guessers can, the other guesser says "Contact" and the guessers
             say the word together after counting down from 3.  If they both
             say the same word, the creator has to give them the next letter.
             If they say different words, or if none of the other guessers
             knows what the clue means, then the guessers have to think of
              another clue.
        </p>

        <p>
            Once you have two or more letters, the guessers can only use words
            that start with those letters.  For instance, once the creator
            gives the letters "ap," the guessers can only use words like
            "application," "aptitude," or "apoptosis."  After three or four
            letters it usually becomes obvious what the word is, and players
            can start guessing the word.
        </p>

            <h2>A few house rules:</h2>
            <ul>
                <li>
                    The word creator's word must be a dictionary word, and it shouldn't
                    be a word the group is unlikely to know.  My favorite Contact word
                    is "tractor" because it's a word that everyone knows, but people
                    don't think about too quickly.
                </li>

                <li>
                    The word guessers can use any word they want, including phrases
                    and proper nouns.  They are welcome to give obscure clues that
                    the creator probably wouldn't know, but if they do that too much
                    it kind of spoils the game.  It's best if they're clues that the
                    creator is expected to know, but doesn't for some reason.  No
                    advanced math if you're playing with 8th graders!  And no
                    asking me about Pokemon if you've already used two Pokemon clues
                    and have established that I know nothing about the subject.
                </li>

                <li>
                    The word creator always gets one guess before the guessers
                    can guess the word.
                </li>

                <li>
                    Most important rule: Have fun!
                </li>
            </ul>

        <p>Credit for the explanation goes to Jessica Su and can be found
            <a href="https://www.quora.com/How-do-you-play-the-word-game-Contact">
                here
            </a>.
        </p>
    </body>
</html>
